.contact {
  padding: 10rem;
  &__heading {
    font-weight: 500;
    font-size: 3rem;
    &--sub {
      margin-top: 1rem;
      font-weight: 200;
      font-size: 1.5rem;
      color: var(--grey-dark);
    }
  }
}

.cform {
  margin-top: 3.5rem;
  &__name {
    display: flex;
    justify-content: space-between;
    & > * {
      flex-basis: 47%;
    }
  }
  &__group {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    & > label {
      font-size: 1.4rem;
      margin-bottom: 5px;
    }
    & > input,
    & > textarea {
      width: 100%;
      padding: 0.75rem;
      border-radius: 5px;
      border: var(--grey-light) 1px solid;
      background-color: var(--bg-color);
      font: inherit;
      transition: all 0.3s ease-out;
      &::placeholder {
        font-size: 1.5rem;
      }
      &:focus {
        outline: none;
        border: var(--primary-color) 1px solid;
      }
    }
    & > textarea {
      resize: vertical;
    }
  }
  &__label {
    font-size: 1.4rem;
  }
}
