// Profile section
header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > #profile__img {
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
  & > #twitter {
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 2rem;
  }
  & .share {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border: 1px solid var(--grey-light);
    border-radius: 50%;
    border-style: dashed;
    position: absolute;
    right: 30rem;
    transform: translateY(-50%);
    &__icon {
      width: 2rem;
      height: 2rem;
      fill: var(--grey-light);
    }
  }
}

// Link Section
ul#links {
  margin: 3rem auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > li {
    width: 70%;
    background-color: var(--grey-light);
    border-radius: 5px;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  & a {
    display: block;
    padding: 1rem;
    transition: all 0.3s ease-out;
    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
    }
    &:hover,
    &:active {
      scale: 1.1;
      color: #000;
    }
  }
}
// Logo Section
div.logos {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  & > img {
    display: inline-block;
    height: 4.5rem;
    border-radius: 50%;
    margin: 0 2rem;
  }
}

// Footer section
footer {
  width: 80%;
  margin: 6rem auto 2rem auto;
  border-top: 1px solid var(--grey-light);
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & > p.footer_notes {
    font-size: 1.4rem;
    color: var(--grey-dark);
  }
  & > img:first-child {
    display: inline-block;
    width: 17rem;
    height: 2.9rem;
  }
  & > img:last-child {
    display: inline-block;
    width: 13.6rem;
    height: 3.3rem;
  }
}
