/* VARIABLES */
:root {
  --bg-color: #f4f5f7;
  --primary-color: #000033;
  --grey-light: #d0d5dd;
  --grey-dark: #5d5c61;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-size: 1.6rem;
}

#root {
  padding: 4rem;
}
